.day {
    color: #000;
    font-weight: bold;
    text-align: center;
}

.today_button_div {
    float: right;
}

.calendar {
    width: 100%;
    margin: auto;
    text-align: center;
}

.calendar-header-day {
    width: calc(14.286%);
    background-color: #00C89E;
    border-bottom: 1px solid #FFFFFF;;
    color: #FFFFFF;
}

.calendar_body {
    overflow: visible;
    width: 80%;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #68f1d3;
    color: #292929;
    text-align: center;
}

.calendar_body:nth-child(even) {
    background: #666666;
    border: 2px solid #fff1f1;
    color: #292929;
}
.calendar_body tr td{
    position:relative;
}
.calendar_body .today {
    text-align: center;
    vertical-align: top;
}

.calendar_body .sat_day {
    text-align: center;
    vertical-align: top;
    color: #1a38cb;
}

.calendar_body .sun_day {
    text-align: center;
    vertical-align: top;
    color: red;
}

.calendar_body .normal_day {
    vertical-align: top;
    text-align: center;
}

.before_after_month {
    font-weight: bold;
}

.before_after_year {
    font-weight: bold;
}

.schdule_add_button {
    float: right;
}

.scheduleContentsModal {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 250px;
    border-radius: 0.35rem;
    border: 1px solid #00C89E;
    background-color: #ffffff;
    display: none
}
#scheduleContentSubject{
    font-size: 18px;
    height: 35px;
    vertical-align: middle;
}
.scheduleContentLabel{
    text-align: left;
}


/*.day{*/
/*	width:100px;*/
/*	height:1px;*/
/*	font-weight: bold;*/
/*	font-size:1px;*/
/*	font-weight:bold;*/
/*	text-align: center;*/
/*}*/
/*.sat{*/
/*	color:#529dbc;*/
/*}*/
/*.sun{*/
/*	color:red;*/
/*}*/
/*.calendar{*/
/*	width:80%;*/
/*	margin:auto;*/
/*}*/
/*.navigation{*/
/*	margin-top:100px;*/
/*	margin-bottom:10px;*/
/*	text-align: center;*/
/*	font-size: 1px;*/
/*	vertical-align: middle;*/
/*}*/
/*.calendar_body{*/
/*	width:100%;*/
/*	background-color: #FFFFFF;*/
/*	border:1px solid white;*/
/*	margin-bottom: 10px;*/
/*	border-collapse: collapse;*/
/*}*/
/*.calendar_body .today{*/
/*	border:1px solid white;*/
/*	height:1px;*/
/*	background-color:#c9c9c9;*/
/*	text-align: left;*/
/*	vertical-align: top;*/
/*}*/
/*.calendar_body .date{*/
/*	font-weight: bold;*/
/*	font-size: 1px;*/
/*	padding-left: 3px;*/
/*	padding-top: 3px;*/
/*}*/
/*.calendar_body .sat_day{*/
/*	border:1px solid white;*/
/*	height:1px;*/
/*	background-color:#EFEFEF;*/
/*	text-align:left;*/
/*	vertical-align: top;*/
/*}*/
/*.calendar_body .sat_day .sat{*/
/*	color: #529dbc;*/
/*	font-weight: bold;*/
/*	font-size: 1px;*/
/*	padding-left: 3px;*/
/*	padding-top: 3px;*/
/*}*/
/*.calendar_body .sun_day{*/
/*	border:1px solid white;*/
/*	height:1px;*/
/*	background-color:#EFEFEF;*/
/*	text-align: left;*/
/*	vertical-align: top;*/
/*}*/
/*.calendar_body .sun_day .sun{*/
/*	color: red;*/
/*	font-weight: bold;*/
/*	font-size: 1px;*/
/*	padding-left: 3px;*/
/*	padding-top: 3px;*/
/*}*/
/*.calendar_body .normal_day{*/
/*	border:1px solid white;*/
/*	height:1px;*/
/*	background-color:#EFEFEF;*/
/*	vertical-align: top;*/
/*	text-align: left;*/
/*}*/
