<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.liveamonth.liveamonth.model.mapper.cityInfoMapper.CityInfoMapper">

    <select id="getCityInfoList" resultType="com.liveamonth.liveamonth.entity.vo.CityInfoVO">
        select * from city;
    </select>

</mapper>