<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.liveamonth.liveamonth.model.mapper.reviewMapper.ReviewMapper">
    <resultMap type = "java.util.HashMap" id="reviewVOAndReplyCount">
        <id column="reviewVO" property="reviewVO"/>
        <result column="userNickName" property="userNickName"/>
        <result column="replyCount" property="replyCount"/>
        <result column="reviewLikeCount" property="reviewLikeCount"/>
    </resultMap>

    <select id = "getAllReviewList" parameterType="java.util.HashMap" resultMap="reviewVOAndReplyCount">
        select @rownum:=@rownum+1 as NO, reviewData.* from
            (select review.reviewNO, reviewCategory, reviewSubject, reviewDesc, reviewDate,
            reviewViewCount, userNickName, count(reviewReplyNO) as replyCount,
            count(reviewLike.reviewNO) as reviewLikeCount, review.userNO
            from review LEFT JOIN reviewReply ON review.reviewNO = reviewReply.reviewNO LEFT JOIN user ON review.userNO = user.userNO LEFT JOIN reviewLike ON review.reviewNO = reviewLike.reviewNO
            group by review.reviewNO
            order by review.reviewNO desc) as reviewData, (select @rownum:=#{startNO})TMP
            limit #{startNO}, #{displayPage};
    </select>

    <select id = "getFreeReviewList" parameterType="java.util.HashMap" resultMap="reviewVOAndReplyCount">
        select @rownum:=@rownum+1 as NO, reviewData.* from
            ( select review.reviewNO, reviewCategory, reviewSubject,
            reviewDesc, reviewDate, reviewViewCount, userNickName,
            count(reviewReplyNO) as replyCount, count(reviewLike.reviewNO) as reviewLikeCount, review.userNO
            from review LEFT JOIN reviewReply ON review.reviewNO = reviewReply.reviewNO LEFT JOIN user ON review.userNO = user.userNO LEFT JOIN reviewLike ON review.reviewNO = reviewLike.reviewNO
            where reviewCategory = 'FREE_BOARD'
            group by review.reviewNO
            order by review.reviewNO desc) as reviewData, (select @rownum:=#{startNO})TMP
            limit #{startNO}, #{displayPage};

    </select>

    <select id = "getPopularReviewList" parameterType="java.util.HashMap" resultMap="reviewVOAndReplyCount">
        select @rownum:=@rownum+1 as NO, reviewData.* from
            (select review.reviewNO,  reviewCategory, reviewSubject,
            reviewDesc, reviewDate, reviewViewCount, userNickName,
            count(reviewReplyNO) as replyCount, count(reviewLike.reviewNO) as reviewLikeCount, review.userNO
            from review LEFT JOIN reviewReply ON review.reviewNO = reviewReply.reviewNO LEFT JOIN user ON review.userNO = user.userNO LEFT JOIN reviewLike ON review.reviewNO = reviewLike.reviewNO
            group by review.reviewNO
            order by reviewLikeCount desc) as reviewData, (select @rownum:=#{startNO})TMP
            limit #{startNO}, #{displayPage};


    </select>

    <select id = "getCategoryReviewList" parameterType="java.util.HashMap" resultMap="reviewVOAndReplyCount">
        select @rownum:=@rownum+1 as NO, reviewData.* from
            (select review.reviewNO, reviewCategory, reviewSubject, reviewDesc, reviewDate,
            reviewViewCount, userNickName, count(reviewReplyNO) as replyCount,
            count(reviewLike.reviewNO) as reviewLikeCount, review.userNO
            from review LEFT JOIN reviewReply ON review.reviewNO = reviewReply.reviewNO LEFT JOIN user ON review.userNO = user.userNO LEFT JOIN reviewLike ON review.reviewNO = reviewLike.reviewNO
            where reviewCategory = #{category}
            group by review.reviewNO
            order by review.reviewNO desc) as reviewData, (select @rownum:=#{startNO})TMP
            limit #{startNO}, #{displayPage};


    </select>

    <select id = "getReviewVO" parameterType="int" resultType="ReviewVO">
        select * from review where reviewNO = #{reviewNO};
    </select>

    <insert id="addReview" parameterType="ReviewVO" useGeneratedKeys="true" keyProperty="reviewNO">
        insert into review values(#{reviewNO}, #{reviewCategory}, #{reviewSubject},#{reviewDesc},#{reviewDate}, #{reviewViewCount}, NULL,#{userNO})
    </insert>

    <select id="getReviewListCount" parameterType="String" resultType="int">
        select count(reviewNO) as count from review
        <choose>
            <when test = "category == 'all'">
            </when>
            <when test = "category == 'popular'">
            </when>
            <when test = "category == 'free'">
                where reviewCategory = 'FREE_BOARD';
            </when>
            <otherwise>
                where reviewCategory = #{category};
            </otherwise>
        </choose>
        ;
    </select>

</mapper>