<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.liveamonth.liveamonth.model.mapper.reviewMapper.ReviewMapper">
    <resultMap type = "java.util.HashMap" id="reviewVOAndReplyCount">
        <id column="reviewVO" property="reviewVO"/>
        <result column="userNickName" property="userNickName"/>
        <result column="replyCount" property="replyCount"/>
        <result column="reviewLikeCount" property="reviewLikeCount"/>
    </resultMap>

    <select id = "getAllReviewList" resultMap="reviewVOAndReplyCount">
        select review.reviewNO, reviewCategory, reviewSubject, reviewDesc, reviewDate,
               reviewViewCount, userNickName, count(reviewReplyNO) as replyCount,
               count(reviewLike.reviewNO) as reviewLikeCount, review.userNO
        from review LEFT JOIN reviewReply ON review.reviewNO = reviewReply.reviewNO LEFT JOIN user ON review.userNO = user.userNO LEFT JOIN reviewLike ON review.reviewNO = reviewLike.reviewNO
        group by review.reviewNO
        order by review.reviewNO desc;
    </select>

    <select id = "getFreeReviewList" resultMap="reviewVOAndReplyCount">
        select review.reviewNO, reviewCategory, reviewSubject,
               reviewDesc, reviewDate, reviewViewCount, userNickName,
               count(reviewReplyNO) as replyCount, count(reviewLike.reviewNO) as reviewLikeCount, review.userNO
        from review LEFT JOIN reviewReply ON review.reviewNO = reviewReply.reviewNO LEFT JOIN user ON review.userNO = user.userNO LEFT JOIN reviewLike ON review.reviewNO = reviewLike.reviewNO
        where reviewCategory = 'FREE_BOARD'
        group by review.reviewNO
        order by review.reviewNO desc;
    </select>

    <select id = "getPopularReviewList" resultMap="reviewVOAndReplyCount">
        select review.reviewNO,  reviewCategory, reviewSubject,
               reviewDesc, reviewDate, reviewViewCount, userNickName,
               count(reviewReplyNO) as replyCount, count(reviewLike.reviewNO) as reviewLikeCount, review.userNO
        from review LEFT JOIN reviewReply ON review.reviewNO = reviewReply.reviewNO LEFT JOIN user ON review.userNO = user.userNO LEFT JOIN reviewLike ON review.reviewNO = reviewLike.reviewNO
        group by review.reviewNO
        order by reviewLikeCount desc;
    </select>

    <select id = "getCategoryReviewList" parameterType = "String" resultMap="reviewVOAndReplyCount">
        select review.reviewNO, reviewCategory, reviewSubject, reviewDesc, reviewDate,
               reviewViewCount, userNickName, count(reviewReplyNO) as replyCount,
               count(reviewLike.reviewNO) as reviewLikeCount, review.userNO
        from review LEFT JOIN reviewReply ON review.reviewNO = reviewReply.reviewNO LEFT JOIN user ON review.userNO = user.userNO LEFT JOIN reviewLike ON review.reviewNO = reviewLike.reviewNO
        where reviewCategory = #{category}
        group by review.reviewNO
        order by review.reviewNO desc;
    </select>

    <select id = "getReviewVO" parameterType="int" resultType="ReviewVO">
        select * from review where reviewNO = #{reviewNO};
    </select>

    <insert id="addReview" parameterType="ReviewVO" useGeneratedKeys="true" keyProperty="reviewNO">
        insert into review values(#{reviewNO}, #{reviewCategory}, #{reviewSubject},#{reviewDesc},#{reviewDate}, #{reviewViewCount}, #{userNO})
    </insert>

</mapper>