<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.liveamonth.liveamonth.model.mapper.scheduleMapper.ScheduleMapper">
	<!-- select -->
	<select id="beforeScheduleAddSearch" parameterType="com.liveamonth.liveamonth.entity.vo.ScheduleContentVO" resultType="int">
		select count(*) from scheduleContent where scheduleContentDate = #{scheduleContentDate}
	</select>

	<select id="scheduleContentList" parameterType="HashMap" resultType="com.liveamonth.liveamonth.entity.vo.ScheduleContentVO">
		select * from scheduleContent where scheduleContent.scheduleNO = #{scheduleNO} AND scheduleContentDate &gt;= #{calendarDTO.dbStartDate} and scheduleContentDate &lt;= #{calendarDTO.dbEndDate} order by scheduleContentDate, scheduleContentNO
	</select>

	<select id="getLastScheduleContentNO" resultType="int">
		select max(scheduleContentNO) from scheduleContent;
	</select>


	<select id="getOtherScheduleInfo" resultType="com.liveamonth.liveamonth.entity.vo.ScheduleVO">
		select * from schedule where userNO in (select userNO from schedule where schedule.scheduleStatus = true)
	</select>


	<select id="getLastScheduleNO" resultType="int">
		select max(scheduleNO) from schedule;
	</select>

	<select id="getScheduleList" resultType="com.liveamonth.liveamonth.entity.vo.ScheduleVO" parameterType="String">
		select * from schedule where schedule.userNO in (select userNO from user where userID = #{userID});
	</select>

	<select id="findUserIDToUserNO" resultType="int" parameterType="String">
		select userNO from user where userID = #{userID};
	</select>

	<!-- delete -->
	<delete id="deleteScheduleContent" parameterType="int">
		delete from scheduleContent where scheduleContentNO = #{scheduleContentNO}
	</delete>
	
	<delete id="deleteSchedule" parameterType="int">
		delete from schedule where scheduleNO = #{scheduleNO}
	</delete>
	
	<delete id="deleteAllScheduleContentOfSchedule" parameterType="int">
		delete from scheduleContent where scheduleContent.scheduleNO = #{scheduleNO}
	</delete>

	<!-- insert -->

	<insert id="addSchedule" parameterType="com.liveamonth.liveamonth.entity.vo.ScheduleVO">
		insert into schedule values(#{scheduleNO}, #{scheduleSubject}, #{scheduleLikeCount}, #{scheduleStatus}, #{userNO}, #{place})
	</insert>

	<insert id="addScheduleContent" parameterType="com.liveamonth.liveamonth.entity.vo.ScheduleContentVO">
		insert into scheduleContent values (#{scheduleContentNO}, #{scheduleContentSubject}, #{scheduleContentDesc}, #{scheduleContentDate}, #{scheduleContentCost}, #{scheduleNO})
	</insert>

	<!-- update -->

	<update id="modifyScheduleContent" parameterType="com.liveamonth.liveamonth.entity.vo.ScheduleContentVO">
		update scheduleContent
		set scheduleContentSubject = #{scheduleContentSubject}, scheduleContentDesc = #{scheduleContentDesc},
		scheduleContentCost = #{scheduleContentCost}
		where scheduleContentNO = #{scheduleContentNO}
	</update>
	
	<update id="modifySchedule" parameterType="com.liveamonth.liveamonth.entity.vo.ScheduleVO">
		update schedule set scheduleSubject = #{scheduleSubject}, scheduleStatus = #{scheduleStatus}, place = #{place} where scheduleNO = #{scheduleNO}
	</update>
</mapper>