<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mybatis/mapper/SignMapper.xml"/>
        <mapper resource="mybatis/mapper/ReviewMapper.xml"/>
        <mapper resource="mybatis/mapper/CityInfoMapper.xml"/>
        <mapper resource="mybatis/mapper/MyPageMapper.xml"/>
        <mapper resource="mybatis/mapper/ScheduleMapper.xml"/>
    </mappers>
</configuration>